:root {
    --colorPrimary:  #9d802e;
    /* Deep Maroon / Burgundy */
    --colorSecondary: #9d802e;
    /* Rich Gold / Yellow */
    --colorBtn: #FFFFFF;
    /* White (maintain for contrast) */
}

#loader {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
}

.loader-text {
    display: block;
    text-align: center;
    color: #d7d7d7;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes loader {
    0% {
        filter: grayscale(0);
    }

    50% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0);
    }
}

.loader-logo {
    width: 300px;
    -webkit-animation: loader 1.3s infinite linear;
    -moz-animation: loader 1.3s infinite linear;
    -ms-animation: loader 1.3s infinite linear;
    -o-animation: loader 1.3s infinite linear;
    animation: loader 1.3s infinite linear;
}

.pload {
    display: none;
}

.iti__flag-container {
    display: none;
}

section#mymap {
    height: 540px;
}

button.btn.btn-sm.btn-outline-info.sectio-bro-btn.overflow-hidden.enqModal {
    margin-bottom: 15px;
}

input#submitBtn {
    margin: 15px 0;
}

.textcolor {
    color: #fff;
}

button.btn.btn-info.micro-form-btn.effetMoveGradient.submitBtn.enqModal {
    margin-bottom: 15px;
}

a.drift-open-chat {
    color: #fff;
}

p {
    text-align: justify;
}

select.my_country_name.form-control.rounded-0.micro-form-field {
    float: left;
    display: inline-block;
    width: 40%;
    padding-left: 8px;
}

input#modal_my_mobile {
    width: 60%;
}

/*--for thank you page --*/
.thankyou-text p {
    text-align: justify !important;
}

/* common style end*/
.sheak {
    display: inline-block;
    animation: shake .9s;
    animation-iteration-count: infinite
}

.mobile-bottom {
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    border-top: 1px solid #3c3c3c;
    display: none
}

.mobile-bottom ul {
    padding: 0;
    margin: 0
}

.mobile-bottom li {
    display: inline-block;
    width: 32%;
    padding: 10px 10px;
    color: #333;
    text-align: center;
    border-right: 1px solid #606060
}

.mobile-bottom .last-child {
    border-right: none
}

.mobile-bottom li i {
    font-size: 20px;
    color: #bb892c
}

.mobile-bottom li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
    font-size: 14px
}

.mobile-bottom img {
    width: 18px;
    height: 18px;
    margin-bottom: 0
}

@media screen and (max-width:767px) {
    .mobile-bottom {
        display: block
    }
}

.card-d-custom {
    width: 95%;
    justify-content: center;
    text-align: center;
    margin: 0 auto 15px;
}

iframe {
    width: 100%;
    height: 38vh;
    border: 2px solid #d7d7d7;
}

@media only screen and (max-width: 1024px) {
    iframe {
        width: 100%;
        height: 32vh;
        border: 2px solid #d7d7d7;
    }
}

@media only screen and (max-width: 992px) {
    iframe {
        width: 100%;
        height: 18vh;
        border: 2px solid #d7d7d7;
    }
}

@media only screen and (max-width: 800px) {
    iframe {
        width: 100%;
        height: 26vh;
        border: 2px solid #d7d7d7;
    }
}

@media only screen and (max-width: 768px) {
    iframe {
        width: 100%;
        height: 20vh;
        border: 2px solid #d7d7d7;
    }
}

@media only screen and (max-width: 500px) {
    iframe {
        width: 100%;
        height: 50vh;
        border: 2px solid #d7d7d7;
    }
}

.action-icon img {
    height: 22px;
    width: auto;
    margin-right: 7px;
    /*margin-right: 4px;*/
}

.ft-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0% 2%;
    font-size: 14px;
}

.ft-left {
    width: 82%;
}

.ft-right {
    width: 16%;
}

.acceptcookies {
    font-size: 16px;
    padding: 3px 30px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .ft-main {
        font-size: 19px;
    }
}

@media (min-width: 2561px) and (max-width: 5120px) {
    .ft-main {
        font-size: 36px;
    }
}

@media (min-width: 1920px) and (max-width: 5120px) {
    .acceptcookies {
        font-size: 46px;
        padding: 3px 30px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .ft-main {
        display: block;
    }

    .ft-left {
        width: 100%;
        text-align: justify;
    }

    .ft-right {
        width: 100%;
    }

    .acceptcookies {
        margin-top: 10px;
        margin-left: 0px !important;
    }

}

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.social-media {
    align-items: center;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.social-media:hover {
    transform: translateX(calc(-100% + 35px));
}

.social-media img {
    padding: 3px;
    text-align: center;
    width: 35px;
}

.social-media a {
    color: #fff;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
}

.social-media-container {
    top: 85%;
    list-style-type: none;
    padding: 0;
    position: fixed;
    left: calc(100% - 37px);
    transform: translateY(-50%);
    min-width: 130px;
}

.social-media.facebook {
    background-color: #014592;
}

.social-media.pinterest {
    background-color: #bd081c;
}

.social-media.linkedin {
    background-color: #007;
}

.social-media.instagram {
    background-color: #c13584;
}

.galery-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.galery-group img {
    width: 200px;
    height: auto;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.gallery-img {
    width: 100%;
    height: 300px;
    /* jitni height fix karni ho utni set kar lo */
    object-fit: cover;
    /* image crop hoke bhi ache se fit hogi */
    border-radius: 10px;
}

.custom-nav-btn {
    background-color: #000;
    /* yellow background */
    color: #fff;
    /* text color black for visibility */
    padding: 8px 8px;
    /* size */
    border-radius: 50%;
    /* round button */
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s ease;
}

.custom-nav-btn:hover {
    background-color: #facc15;
    /* darker yellow on hover */
}

.TOP-section {
    margin-top: 3rem;
}

/* locatin */
.map-locatin {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.map-left {
    width: 40%;
}

.map-right {
    width: 58%;
}

/* scner */
.container {
    padding: 30px;
    text-align: center;
}

.container img {
    width: 150px;
    height: auto;
}

.container h2 {
    font-size: 18px;
    margin: 15px 0 5px;
    font-weight: normal;
}

.container h2 span {
    font-weight: bold;
}

.container p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
.left-pdf{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 10px;
    background-color: var(--colorPrimary);
    border-radius: 8px;
}
.left-don{
    width: 20px;
    height: 20px;
}
.pdf-downlad{
    display: flex;
    font-size: 20px;

}
.left-pdf li{
    list-style: none;
    font-size: 10px;
    color: white;
}
.left-text{
    color: white;
    font-weight: 600;
}
.mi-call{
    color: white;
    margin-right: 6px;
}
.left-pdf img {
    width: 20px;
    height: auto;
}
.locaton-hed{
    color: var(--colorPrimary);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.locaton-text{
    background-color: #502729;
    width: 70%;
}
.map-locatin{
    height: 100%;
}
.loacitn-dvi-grid{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.locatin-div{
    background-color: #edcd91;
}
.map-left{
    height: 300px;
}
.map-right{
    height: 300px;
}
.map-left iframe{
    width: 100%;
    height: 100%;
    border: 2px solid #d7d7d7;

}
 /* Wrapper */
    .action-bar {
      display: flex;
      justify-content: center;
      max-width: 420px;
      margin: 40px auto;
      border: 2px solid #fff;
      border-radius: 4px;
      overflow: hidden;
    }

    /* Buttons */
    .action-bar li {
      list-style: none;
      flex: 1;
    }

    .action-bar a, 
    .action-bar button {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: center;
      width: 100%;
      padding: 12px;
      background: #222;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      border: none;
      cursor: pointer;
      transition: background 0.3s;
      text-decoration: none;
    }

    .action-bar a:hover,
    .action-bar button:hover {
      background: #444;
    }

    .action-bar i {
      font-size: 20px;
      color: #f44336; /* PDF red */
    }

    .action-bar a i {
      color: #fff; /* Phone white */
    }
    .new-pdf{
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    .nav-fill{
        display: flex;
    }
    .pdf-img{
        height: 30px;
        width: auto;
    }
    .no-scrollbar{
      overflow-y: scroll;
    }
   
